<body background="black">
<br><br><br>
<% if @error %>
    <%=@errors %>
      <li style="color: red;"> <%=@error%></li>
<% end %>

<h1>Login</h1>
<div class="login">
<%= form_tag(login_path) do %>
  Username: <%= text_field_tag("username") %><br><br>
  Password: <%= password_field_tag("password") %><br><br>
  <%= submit_tag("Login") %>
<% end %>
</div>

</body>
