<h1>Edit Session</h1>
<div>
<div class="row">
<div class="form-group col-md-7">
<%= form_for @study_session do |f| %>
<%= f.label :name %>
<%= f.text_field :name , class: "form-control", required: true%>
</div>

<div class="row">
<div class="form-group col-md-7">
<%= f.label :tutor_id %>
<%= f.collection_select(:tutor_id, User.tutors, :id, :first_name, prompt: true) %>
</div>

<div class="row">
<div class="form-group col-md-7">
<%= f.label :subject_id %>
<%= f.collection_select(:subject_id, Subject.all, :id, :name, prompt: true) %>
</div>

<div class="form-group col-md-7">
<%= f.label :date %>
<%= datetime_local_field(:study_session, :date, class: "form-control") %><br>
</div>
</div>

<div class="form-group col-md-7">
<%= f.submit "Submit" , {:class => "btn btn-primary col-md-3"}%>
<% end %>
</div>
