<h1>Upcoming Sessions</h1>
<% @study_sessions.each do |study_session| %>
  <% if study_session.upcoming? %>
    <p style="font-size:30px;">
    <%= link_to study_session.name, study_session_path(study_session) %>
    </p>
  <%end%>
<%end%>
<%if @upcoming_total ==0%>
    <p style="color:cyan;font-size:30px;">
    <%="You have no upcoming sessions" %>
    </p>
<%end%>

<h1> Past Sessions </h1>
  <% @study_sessions.each do |study_session| %>
    <%if !study_session.upcoming?%>
      <p style="font-size:30px;">
      <%= link_to study_session.name, study_session_path(study_session) %>
      </p>
    <%end%>
  <%end%>
  <%if @past_total ==0%>
    <p style="color:cyan;font-size:30px;">
    <%="You have no past sessions" %>
    </p>
  <%end%>


<%= link_to "Create a Session", new_study_session_path, {class: "btn btn-primary"}%>