<ul>
<%= form_for(@user) do |f| %>
<li>
<%= f.label :first_name %><br>
<%= f.text_field :first_name %>
</li><li>
<%= f.label :last_name %><br>
<%= f.text_field :last_name %>
</li><li>
<%= f.label :username %><br>
<%= f.text_field :username %>
</li><li>
<%= f.label :password %><br>
<%= f.password_field :password %>
</li><li>
<%= f.label :bio %><br>
<%= f.text_area :bio %>
</li><li>
<%= f.label :tutor %>
<%=f.check_box :tutor, {}, 'true', 'false' %><br>
</li>
<%= f.submit %>
<% end %>
</ul>