<% if @user.id == session[:user_id]%>
<h2>Welcome, <%= @user.username %>!</h2>
<% else%>
<h2><%= @user.username %></h2>
<%end%>

<div>
  <div class="container-fluid bg-1 text-center">
<h3>Name: </h3>
 <h5><%= @user.full_name %></h5>
 <% if @user.tutor %>
 <h3>Tutor</h3>
 <% end %>

 </div>

 <div class="container-fluid bg text-center">
<h3>Bio:</h3>
<h5><%= @user.bio %></h5><br>
</div>

<div class="dashboard">
        <div>

<%= link_to "What People are Saying", ratings_path(id: @user.id), {class: "btn btn-primary"} %> | 
<% if @user.id == session[:user_id] && !@user.tutor %>
<%= link_to "Edit User", edit_user_path(@user), {class: "btn btn-primary"} %> | 
<%= link_to "My Sessions", study_sessions_path, {class: "btn btn-primary"} %> | 
<%= link_to "Subject Info", subjects_path, {class: "btn btn-primary"}  %> | 
<%= link_to "Buddi Page", users_path, {class: "btn btn-primary"}  %>

<%end%>
<% if @user.id == session[:user_id] && @user.tutor %>
<%= link_to "Edit User", edit_user_path(@user), {class: "btn btn-primary"} %>
<%= link_to "My Sessions", study_sessions_path, {class: "btn btn-primary"}  %>
<%= link_to "Subject Info", subjects_path, {class: "btn btn-primary"}  %>

<%end%>
</div>
    </div>