<h2><%= @user.username %></h2>
<h3>Name: </h3>
 <%= @user.full_name %>
 <% if @user.tutor %>
 <h3>Tutor</h3>
 <% end %>
<h4>Bio:</h4>
<%= @user.bio %>
<br>

<%= link_to "All Users", users_path %>
<%= link_to "Edit User", edit_user_path(@user) %>


