<% if @user.id == session[:user_id]%>
<h2>Welcome, <%= @user.username %>!</h2>
<% else%>
<h2><%= @user.username %></h2>
<%end%>

<div>
  <div class="container-fluid bg-1 text-center">
<h3>Name: </h3>
 <h5><%= @user.full_name %></h5>
 <% if @user.tutor %>
 <h3>Tutor</h3>
 <% end %>

 </div>

 <div class="container-fluid bg text-center">
<h3>Bio:</h3>
<h5><%= @user.bio %></h5><br>
</div>

<div class="row justify-content-center">
        <div>
<%= link_to "What People are Saying", ratings_path(id: @user.id)%>
<% if @user.id == session[:user_id] && !@user.tutor %>
<%= link_to "Edit User", edit_user_path(@user) %>
<%= link_to "My Sessions", study_sessions_path %>
<%= link_to "Subject Info", subjects_path %>
<%= link_to "Buddi Page", users_path %>
<%end%>
<% if @user.id == session[:user_id] && @user.tutor %>
<%= link_to "Edit User", edit_user_path(@user) %>
<%= link_to "My Sessions", study_sessions_path %>
<%= link_to "Subject Info", subjects_path %>

<%end%>
</div>
    </div>

    <style>
.container-fluid {
  padding-top: 30px;
  padding-bottom: 0px;
}
</style>

<div class="user-footer">
<% if @user.id == session[:user_id] && !@user.tutor %>
<%= link_to "Edit User", edit_user_path(@user) %> |
<%= link_to "My Sessions", study_sessions_path %> |
<%= link_to "Subject Info", subjects_path %> |
<%= link_to "Users", users_path %> |
<%end%>
<% if @user.id == session[:user_id] && @user.tutor %> |
<%= link_to "Edit User", edit_user_path(@user) %> |
<%= link_to "My Sessions", study_sessions_path %> |
<%= link_to "Subject Info", subjects_path %> |
<%end%>
</div>
