<% if @user.tutor %>
<h1>Tell us about your Buddi!</h1>
<% else %>
<h1>Tell us about your Buddy!</h1>
<% end %>

<div class="form-group col-md-7">
<%= form_for(@rating) do |f| %>
<%= f.label "Rating out of 5 (0 = terrible, 5 = exceeded expectations)"%><br>
<%= f.number_field :value, in: 0..5, required: true %><br>
</div>

<div class="form-group col-md-8">
<%= f.label "Leave a Review" %><br>
<%= f.text_area :review, size: "25x10", class: "form-control", required: true %><br>
<%= f.hidden_field(:user_id, value: params[:id]) %>
<%= f.submit "Submit", class: "btn btn-primary"%>
<% end %>
</div>
