<h1>Add a new Subject</h1>

<%= render "form"  %>

<!-- <%= form_for @subject do |f|%>
<%= f.label :name%><br>
<%= f.text_field :name, list: "name_autocomplete"%><br>
<datalist id="name_autocomplete">
    <% Subject.all.each do |subject| %>
      <option value="<%= subject.name %>">
    <% end %>
</datalist>
<%= f.label :description%><br>
<%= f.text_field :description%><br>

<%= f.submit%>

<%end%> -->